// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
:root {
	--ion-color-pinkmain: #FF8A8A;
	--ion-color-pinkmain-rgb: 255,138,138;
	--ion-color-pinkmain-contrast: #000000;
	--ion-color-pinkmain-contrast-rgb: 0,0,0;
	--ion-color-pinkmain-shade: #e07979;
	--ion-color-pinkmain-tint: #ff9696;
}

.ion-color-pinkmain {
	--ion-color-base: var(--ion-color-pinkmain);
	--ion-color-base-rgb: var(--ion-color-pinkmain-rgb);
	--ion-color-contrast: var(--ion-color-pinkmain-contrast);
	--ion-color-contrast-rgb: var(--ion-color-pinkmain-contrast-rgb);
	--ion-color-shade: var(--ion-color-pinkmain-shade);
	--ion-color-tint: var(--ion-color-pinkmain-tint);
}

:root {
	--ion-color-cream: #F4DEB3;
	--ion-color-cream-rgb: 244,222,179;
	--ion-color-cream-contrast: #000000;
	--ion-color-cream-contrast-rgb: 0,0,0;
	--ion-color-cream-shade: #d7c39e;
	--ion-color-cream-tint: #f5e1bb;
}

.ion-color-cream {
	--ion-color-base: var(--ion-color-cream);
	--ion-color-base-rgb: var(--ion-color-cream-rgb);
	--ion-color-contrast: var(--ion-color-cream-contrast);
	--ion-color-contrast-rgb: var(--ion-color-cream-contrast-rgb);
	--ion-color-shade: var(--ion-color-cream-shade);
	--ion-color-tint: var(--ion-color-cream-tint);
}
